
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Knapsack</title>
</head>

<body style="margin:0; padding:0; background-color:#f5f5f5; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px;">
  <table bgcolor="#f1f1f1" width="800" align="center" border="0" cellpadding="0" cellspacing="0" style="border:#ddd8d8 1px solid; -webkit-print-color-adjust:exact">


    <!--first section-->
    <tr> 
      <td style="width:522px; -webkit-print-color-adjust: exact; float:left; padding:24px; font-size:23px; color:#fff;" bgcolor="#f1f1f1">
        <img src="http://localhost:8000/images/log.png" width="150" height="126">

      </td>
      
    </tr>
    <tr><td style="height:20px;"></td></tr>

    <tr><td>
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody><tr>
          <td><table width="800px" cellspacing="0" cellpadding="0" border="0" bgcolor="#0c788e" align="left">
            <tbody><tr>
              <td style="padding:18px 30px; font-size:18px; color:#fff;">
                Charles Spannagel
              </td>
            </tr>
          </tbody></table></td>
        </tr>
      </tbody></table>
    </td></tr>


    <tr><td style="height:10px;"></td></tr>

    <!--first section-->
    <tr><td style="height:5px;"></td></tr>

    <tr><td>
      <table style="font-size:22px; padding:20px 30px; -webkit-print-color-adjust:exact; color:#3f3f3f; font-weight:bold;" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center">

        <tr>
          <td>
            <table style="margin-top:0px; font-size:13px; line-height:19px; font-weight:normal;" width="100%" cellspacing="0" cellpadding="0" border="0">

              <tr>
                <td style="padding:0 10px 0 0; font-size:19px; color:#0c788e;">Terms and Conditions</td>
              </tr>
              <tr><td style="height:5px;"></td></tr>

              <tr>
               <td style="font-size:14px; color:#635f5f;border-radius: 5px;line-height: 22px"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, </p>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, </p>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, </p>
              </td>
            </tr>


          </table></td></tr>
        </table></td></tr>

      </table>
    </body>
    </html>
